{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oppenheimer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <!-- NAVBAR Of TMDB -->
    <div class="navbar">
    <div class="logo"><a href="{% url 'index' %}" style="text-decoration: none; color: #f5c518;">MoviesVerse</a></div>

    <div class="search-box">
        <input type="text" placeholder="Search movies, TV shows...">
        <button>Search</button>
    </div>

    <div class="nav-links">
        <a href="{% url 'index' %}">Movies</a>
        <a href="{% url 'watchlist' %}">Watchlist</a>
        
        <div class="profile-dropdown">

            {% if request.user.is_authenticated and request.user.profile.profile_pic %}
                <img src="{{ request.user.profile.profile_pic.url }}" class="profile-avatar" alt="Profile">
            {% else %}
                <img src="{% static 'images/default_pfp.jpeg' %}" class="profile-avatar" alt="Default Profile">
            {% endif %}
                
                <div class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' %}">Profile</a>
                        <a href="{% url 'watched' %}">Watched</a>
                        <a href="{% url 'favourite' %}">Favourite Movies</a>
                        <a href="{% url 'settings' %}">Settings</a>
                        <hr>
                        <a href="{% url 'logout' %}" class="logout">Logout</a>
                    {% else %}
                        <a href="{% url 'sign_in' %}">Login</a>
                        <a href="{% url 'sign_up' %}">Create new account</a>
                    {% endif %}
                </div>
        </div>
    </div>
</div>

<div class="movie-top">

    <!-- LEFT COLUMN -->
    <div class="left-column">

        <div class="trailer-box">
            <iframe
                src="https://www.youtube.com/embed/{{ movie.trailer_key }}?autoplay=0&controls=1"
                allowfullscreen>
            </iframe>
        </div>

        <!-- DESCRIPTION BELOW TRAILER -->
        <div class="trailer-description">
            <h2>Description</h2>
            <p>{{ movie.overview }}</p>
        </div>

    </div>

    <!-- RIGHT COLUMN -->
    <div class="movie-meta">
        <div class="poster">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/fe748e176533255.64c6e08a621b1.jpg" alt="Oppenheimer Poster">
        </div>

        <div class="movie-info">
            <h1>{{ movie.title }} ({{ movie.year }})</h1>

            <div class="genres">
                <span>{{ movie.genres|join:", " }}</span>
            </div>

            <div class="details">
                Release Date: {{ movie.release_date }}<br><br>
                Language: {{ movie.language }}<br><br>
                Runtime: {{ movie.runtime }}<br><br>
                Director: {{ movie.director }}<br><br>
                Writer: {{ movie.writer }}<br><br>
            </div>

            <div class="action-row">
                <div class="action-btn rating">★ {{ movie.rating }} / 10</div>

                <button class="action-btn like-btn" onclick="toggleLike(this)">
                    <span class="icon">♡</span>
                    <span class="text">Like</span>
                </button>

                <button class="action-btn watch-btn" onclick="toggleWatched(this)">
                    <span class="icon">👁</span>
                    <span class="text">Watch</span>
                </button>

                <button class="action-btn list-btn" onclick="toggleWatchlist(this)">
                    <span class="icon">🕒</span>
                    <span class="text">Watchlist</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- CAST -->

<div class="section">
    <h2>Cast</h2>
    <div class="cast-grid">
        {% for actor in movie.credits.cast|slice:":12" %}
        <div class="cast-card">
            {% if actor.profile_path %}
                <img src="https://image.tmdb.org/t/p/w200{{ actor.profile_path }}">
            {% else %}
                <img src="{% static 'images/no_actor.png' %}">
            {% endif %}
            <h4>{{ actor.name }}</h4>
            <p>{{ actor.character }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<!-- REVIEWS -->
<div class="section">
    <h2>Ratings & Reviews</h2>

    <div class="review-summary">
        Overall Rating: <span class="stars" data-rating="4.1"></span> {{ movie.rating }} / 5 based on {{ movie.review_count }} reviews
    </div>

    <div class="review-card">
        <strong>Sam</strong> <span class="stars" data-rating="3.5"></span> <p>Masterpiece. One of Nolan’s best works.</p>
    </div>

    <div class="review-card">
        <strong>Sarah</strong> <span class="stars" data-rating="3"></span> <p>Slow pacing, but extremely powerful performances.</p>
    </div>
</div>

<!-- ADD REVIEW -->

<div class="section">
    <h2>Add Your Review</h2>

    <div class="review-form">
        <form>
            <label><strong>Your Rating:</strong></label><br><br>
<!-- Dynamic Rating Display: -->
<!-- star rating input: -->
            <div class="star-rating">
                <!-- 5 -->
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5"></label>

                <input type="radio" id="star4half" name="rating" value="4.5">
                <label for="star4half" class="half"></label>

                <!-- 4 -->
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4"></label>

                <input type="radio" id="star3half" name="rating" value="3.5">
                <label for="star3half" class="half"></label>

                <!-- 3 -->
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3"></label>

                <input type="radio" id="star2half" name="rating" value="2.5">
                <label for="star2half" class="half"></label>

                <!-- 2 -->
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2"></label>

                <input type="radio" id="star1half" name="rating" value="1.5">
                <label for="star1half" class="half"></label>

                <!-- 1 -->
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1"></label>

                <input type="radio" id="starhalf" name="rating" value="0.5">
                <label for="starhalf" class="half"></label>
            </div>

            <br><br>

            <textarea placeholder="Write your review..."></textarea>

            <br><br>

            <button type="submit">Submit Review</button>
        </form>
    </div>
</div>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-links">
            <a href="{% url 'help' %}" class="footer-link">Help</a>
            <a href="{% url 'privacy_policy' %}" class="footer-link">Privacy Policy</a>
            <a href="{% url 'terms_of_use' %}" class="footer-link">Terms of Use</a>
        </div>
        <p class="footer-text">© 2026 MoviesVerse.com</p>
    </footer>
</body>
</html>