{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<script>
    function toggleLike(btn){
    const imdbId = btn.dataset.imdb;

    console.log("Toggling like for IMDb ID:", imdbId);

    if(!imdbId){
        console.error("IMDb ID missing!");
        return;
    }

    fetch(`/like/toggle/${imdbId}/`)
    .then(res => res.json())
    .then(data => {
        const icon = btn.querySelector(".icon");
        const text = btn.querySelector(".text");

        if(data.status === "added"){
            btn.classList.add("active");
            icon.textContent = "♥";
            text.textContent = "Liked";
        }

        if(data.status === "removed"){
            btn.classList.remove("active");
            icon.textContent = "♡";
            text.textContent = "Like";
        }
    });
}

function toggleWatched(btn){
    const imdbId = btn.dataset.imdb;

    console.log("Toggling watched for IMDb ID:", imdbId);

    if(!imdbId){
        console.error("IMDb ID missing!");
        return;
    }

    fetch(`/watched/toggle/${imdbId}/`)
    .then(res => res.json())
    .then(data => {
        const text = btn.querySelector(".text");

        if(data.status === "added"){
            btn.classList.add("active");
            text.innerContent = "Watched";

            // Auto-remove from watchlist button if present
            if(data.removed_from_watchlist){
                const watchlistBtn = document.querySelector(`.list-btn[data-imdb="${imdbId}"]`);
                if(watchlistBtn){
                    watchlistBtn.classList.remove("active");
                    watchlistBtn.querySelector(".text").innerHTML = "Watchlist";
                }
            }
        }

        if(data.status === "removed"){
            btn.classList.remove("active");
            text.innerContent = "Watch";
        }
    });
}

function toggleWatchlist(btn){
    const imdbId = btn.dataset.imdb;

    console.log("Toggling watchlist for IMDb ID:", imdbId);

    if(!imdbId){
        console.error("IMDb ID missing!");
        return;
    }

    fetch(`/watchlist/toggle/${imdbId}/`)
    .then(res => res.json())
    .then(data => {
        // Block if already watched
        if(data.status === "error"){
            alert(data.message || "Cannot add to watchlist.");
            return;
        }

        const text = btn.querySelector(".text");

        if(data.status === "added"){
            btn.classList.add("active");
            text.textContent = "Watchlisted";
        }

        if(data.status === "removed"){
            btn.classList.remove("active");
            text.textContent = "Watchlist";
        }
    });
}
</script>
<body>
    <!-- NAVBAR -->
    <div class="navbar">
    <div class="logo"><a href="{% url 'index' %}" style="text-decoration: none; color: #f5c518;">MoviesVerse</a></div>

    <form class="search-box" method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Search movies, TV shows..." required>
        <button type="submit"> Search </button>
    </form>

    <div class="nav-links">
        <a href="{% url 'index' %}">Movies</a>
        <a href="{% url 'watchlist' %}">Watchlist</a>
        
        <div class="profile-dropdown">

            {% if request.user.is_authenticated and request.user.profile.profile_pic %}
                <img src="{{ request.user.profile.profile_pic.url }}" class="profile-avatar" alt="Profile">
            {% else %}
                <img src="{% static 'images/default_pfp.jpeg' %}" class="profile-avatar" alt="Default Profile">
            {% endif %}
                
                <div class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' %}">Profile</a>
                        <a href="{% url 'watched' %}">Watched</a>
                        <a href="{% url 'favourite' %}">Favourite Movies</a>
                        <a href="{% url 'settings' %}">Settings</a>
                        <hr>
                        <a href="{% url 'logout' %}" class="logout">Logout</a>
                    {% else %}
                        <a href="{% url 'sign_in' %}">Login</a>
                        <a href="{% url 'sign_up' %}">Create new account</a>
                    {% endif %}
                </div>
        </div>
    </div>
</div>

<div class="movie-top">

    <!-- LEFT COLUMN -->
    <div class="left-column">

        <div class="trailer-box">
            {% if movie.trailer %}
        <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/{{ movie.trailer }}"
            frameborder="0"
            allowfullscreen
            referrerpolicy="strict-origin-when-cross-origin">
        </iframe>

        <a href="https://www.youtube.com/watch?v={{ movie.trailer }}" target="_blank">
            Watch on YouTube
        </a>
        {% else %}
        <p>Trailer not available</p>
        {% endif %}
        </div>

        <!-- DESCRIPTION BELOW TRAILER -->
        <div class="trailer-description">
            <h2>Description</h2>
            <p>{{ movie.overview }}</p>
        </div>

    </div>

    <!-- RIGHT COLUMN -->
    <div class="movie-meta">
        <div class="poster">
            <img src="{{ movie.poster }}" alt="{{ movie.title }}">
        </div>

        <div class="movie-info">
            <h1>{{ movie.title }} ({{ movie.year }})</h1>

            <div class="genres">
                {% for i in movie.genres|slice:12 %}
                    <span>{{ i }}</span>
                {% endfor %}
            </div>

            <div class="details">
                Release Date: {{ movie.release_date }}<br><br>
                Language: {{ movie.language }}<br><br>
                Runtime(min): {{ movie.runtime }}<br><br>
                Director: {{ movie.directors|join:", " }}<br><br>
                Writer: {{ movie.writers|join:", " }}<br><br>
            </div>

            <div class="action-row">

                <button class="action-btn like-btn {% if is_liked %}active{% endif %}"
                        data-imdb="{{ movie.imdb_id }}"
                        onclick="toggleLike(this)"
                    >
                        <span class="icon">♡</span>
                        <span class="text">Like</span>
                </button>

                <button class="action-btn watch-btn {% if is_watched %}active{% endif %}"
                        data-imdb="{{ movie.imdb_id }}"
                        onclick="toggleWatched(this)"
                    >
                        <span class="icon">👁</span>
                        <span class="text">Watch</span>
                </button>

                <button class="action-btn list-btn {% if is_in_watchlist %}active{% endif %}"
                        data-imdb="{{ movie.imdb_id }}"
                        onclick="toggleWatchlist(this)"
                    >
                        <span class="icon">🕒</span>
                        <span class="text">Watchlist</span>
                </button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- CAST -->
<div class="section">
    <h2>Cast</h2>
    <div class="cast-grid">
        {% for actors in movie.actors|slice:":12" %}
        <div class="cast-card">
            {% if actors.profile_path %}
                <img src="https://image.tmdb.org/t/p/w200{{ actors.profile_path }}">
            {% else %}
                <img src="{% static 'images/no_actor.png' %}">
            {% endif %}
            <h4>{{ actors.name }}</h4>
            <p>{{ actors.character }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<!-- REVIEWS -->
<div class="section">
    <h2>Ratings & Reviews</h2>

    <div class="review-summary">
        Overall Rating: <span class="stars" data-rating="{% widthratio movie.rating 2 1 %}"></span> {{ movie.rating|floatformat:1 }} / 10 based on {% widthratio movie.review_count 1000 1 %}K reviews
    </div>
    <div class="review-card">
        <strong>Sam</strong> <span class="stars" data-rating="3.5"></span> <p>Masterpiece. One of Nolan’s best works.</p>
    </div>

    <div class="review-card">
        <strong>Sarah</strong> <span class="stars" data-rating="3"></span> <p>Slow pacing, but extremely powerful performances.</p>
    </div>
</div>

<!-- ADD REVIEW -->
<div class="section">
    <h2>Add Your Review</h2>

    <div class="review-form">
        <form>
            <label><strong>Your Rating:</strong></label><br><br>
            <div class="star-rating">
                <!-- 5 -->
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5"></label>

                <input type="radio" id="star4half" name="rating" value="4.5">
                <label for="star4half" class="half"></label>

                <!-- 4 -->
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4"></label>

                <input type="radio" id="star3half" name="rating" value="3.5">
                <label for="star3half" class="half"></label>

                <!-- 3 -->
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3"></label>

                <input type="radio" id="star2half" name="rating" value="2.5">
                <label for="star2half" class="half"></label>

                <!-- 2 -->
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2"></label>

                <input type="radio" id="star1half" name="rating" value="1.5">
                <label for="star1half" class="half"></label>

                <!-- 1 -->
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1"></label>

                <input type="radio" id="starhalf" name="rating" value="0.5">
                <label for="starhalf" class="half"></label>
            </div>

            <br><br>

            <textarea placeholder="Write your review..."></textarea>

            <br><br>

            <button type="submit">Submit Review</button>
        </form>
    </div>
</div>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-links">
            <a href="{% url 'help' %}" class="footer-link">Help</a>
            <a href="{% url 'privacy_policy' %}" class="footer-link">Privacy Policy</a>
            <a href="{% url 'terms_of_use' %}" class="footer-link">Terms of Use</a>
        </div>
        <p class="footer-text">© 2026 MoviesVerse.com</p>
        
</footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>