{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular Movies</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
<!-- NAVBAR -->
<div class="navbar">
    <div class="logo"><a href="{% url 'index' %}" style="text-decoration: none; color: #f5c518;">MoviesVerse</a></div>

    <div class="search-box">
        <input type="text" placeholder="Search movies, TV shows...">
        <button>Search</button>
    </div>

    <div class="nav-links">
        <a href="{% url 'index' %}">Movies</a>
        <a href="{% url 'watchlist' %}">Watchlist</a>
        
        <div class="profile-dropdown">

            {% if request.user.is_authenticated and request.user.profile.profile_pic %}
                <img src="{{ request.user.profile.profile_pic.url }}" class="profile-avatar" alt="Profile">
            {% else %}
                <img src="{% static 'images/default_pfp.jpeg' %}" class="profile-avatar" alt="Default Profile">
            {% endif %}
            
                <div class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' %}">Profile</a>
                        <a href="{% url 'watched' %}">Watched</a>
                        <a href="{% url 'favourite' %}">Favourite Movies</a>
                        <a href="{% url 'settings' %}">Settings</a>
                        <hr>
                        <a href="{% url 'logout' %}" class="logout">Logout</a>
                    {% else %}
                        <a href="{% url 'sign_in' %}">Login</a>
                        <a href="{% url 'sign_up' %}">Create new account</a>
                    {% endif %}
                </div>
        </div>
    </div>
</div>

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-content">
        <h2 class="hero-title">Popular Movies</h2>
        <p style="color:#ccc; margin-top:10px;">
            Most popular movies right now
        </p>
    </div>
</section>

<main class="content">
    <section class="section">
        <div class="movie-grid">
            {% for movie in movies %}
            {% if movie %}
            <div class="movie-card">
                <div class="card-poster">
                    <a href="{% url 'movie_detail' movie.imdb_id %}">
                        <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                    </a>
                </div>
                    <div class="card-info">
                        <div class="card-rating">
                            <span class="card-star">★</span>
                            <span>{{ movie.rating }}</span>
                        </div>
                        <h3 class="card-title">{{ movie.title }}</h3>
                        <p class="card-meta">{{ movie.year }}</p>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-links">
            <a href="{% url 'help' %}" class="footer-link">Help</a>
            <a href="{% url 'privacy_policy' %}" class="footer-link">Privacy Policy</a>
            <a href="{% url 'terms_of_use' %}" class="footer-link">Terms of Use</a>
        </div>
        <p class="footer-text">© 2026 MoviesVerse.com</p>
    </footer>

</body>
</html>