{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watched Movies</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<script>
    document.addEventListener("click", function (e) {
        const dropdown = document.querySelector(".profile-dropdown");
        dropdown.classList.toggle("active", dropdown.contains(e.target));
    });
</script>

<body>

<div class="navbar">
    <div class="logo"><a href="{% url 'index' %}" style="text-decoration: none; color: #f5c518;">MoviesVerse</a></div>

    <div class="search-box">
        <input type="text" placeholder="Search watched movies...">
        <button>Search</button>
    </div>

    <div class="nav-links">
        <a href="{% url 'index' %}">Movies</a>
        <a href="{% url 'watchlist' %}">Watchlist</a>
        
        <div class="profile-dropdown">
        <img src="https://tse2.mm.bing.net/th/id/OIP.eOfqxGdd1QY-wIFMJvIR-QHaLH?rs=1&pid=ImgDetMain&o=7&rm=3" alt="Profile" class="profile-avatar">

        <div class="dropdown-menu">
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'watched' %}">Watched</a>
            <a href="{% url 'favourite' %}">Favourite Movies</a>
            <a href="{% url 'settings' %}">Settings</a>
            <hr>
            <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
        </div>
    </div>
</div>

<section class="hero">
    <div class="hero-content">

        <h2 class="hero-title">Watched Movies</h2>

        <p style="color:#ccc; margin-top:10px;">
            Movies you’ve already completed
        </p>
</div>

    </div>
</section>

<main class="content">
<section class="section">

<div class="movie-grid" id="watchedGrid">

    <div class="movie-card" data-duration="142">
        <div class="card-poster">
            <img src="Data/Pics/sk.jpg" alt="Movie 1">
        </div>
    </div>

    <div class="movie-card" data-duration="175">
        <div class="card-poster">
            <img src="Data/Pics/gdf.jpg" alt="Movie 2">
        </div>
    </div>

    <div class="movie-card" data-duration="148">
        <div class="card-poster">
            <img src="Data/Pics/tdk.webp" alt="Movie 3">
        </div>
    </div>

    <div class="movie-card" data-duration="152">
        <div class="card-poster">
            <img src="Data/Pics/fc.webp" alt="Movie 4">
        </div>
    </div>

    <div class="movie-card" data-duration="139">
        <div class="card-poster">
            <img src="Data/Pics/fg.webp" alt="Movie 5">
        </div>
    </div>

    <div class="movie-card" data-duration="142">
        <div class="card-poster">
            <img src="Data/Pics/matrix.webp" alt="Movie 6">
        </div>
    </div>

    <div class="movie-card" data-duration="136">
        <div class="card-poster">
            <img src="Data/Pics/intr.webp" alt="Movie 7">
        </div>
    </div>

    <div class="movie-card" data-duration="169">
        <div class="card-poster">
            <img src="Data/Pics/gl.webp" alt="Movie 8">
        </div>
    </div>

    <div class="movie-card" data-duration="155">
        <div class="card-poster">
            <img src="Data/Pics/titanic.jpg" alt="Movie 9">
        </div>
    </div>

    <div class="movie-card" data-duration="194">
        <div class="card-poster">
            <img src="https://m.media-amazon.com/images/I/71niXI3lxlL._AC_SY679_.jpg" alt="Movie 10">
        </div>
    </div>

    <div class="movie-card" data-duration="181">
        <div class="card-poster">
            <img src="Data/Pics/inc.webp" alt="Movie 11">
        </div>
    </div>

    <div class="movie-card" data-duration="127">
        <div class="card-poster">
            <img src="Data/Pics/jp.webp" alt="Movie 12">
        </div>
    </div>

    <div class="movie-card" data-duration="178">
        <div class="card-poster">
            <img src="Data/Pics/tlr.webp" alt="Movie 13">
        </div>
    </div>

    <div class="movie-card" data-duration="126">
        <div class="card-poster">
            <img src="Data/Pics/im.webp" alt="Movie 14">
        </div>
    </div>

    <div class="movie-card" data-duration="162">
        <div class="card-poster">
            <img src="Data/Pics/avtar.webp" alt="Movie 15">
        </div>
    </div>

    <div class="movie-card" data-duration="180">
        <div class="card-poster">
            <img src="Data/Pics/tw.jpg" alt="Movie 16">
        </div>
    </div>

    <div class="movie-card" data-duration="115">
        <div class="card-poster">
            <img src="Data/Pics/strange.cHJkLWVtcy1hc3NldHMvbW92aWVzL2FkNDZiMzU2LTFmYTQtNDgwMS1iOWM5LTgxNTg2NDMxNjBmNi53ZWJw.jpg" alt="Movie 17">
        </div>
    </div>

    <div class="movie-card" data-duration="148">
        <div class="card-poster">
            <img src="Data/Pics/spn.png" alt="Movie 18">
        </div>
    </div>

    <div class="movie-card" data-duration="134">
        <div class="card-poster">
            <img src="Data/Pics/bp.avif" alt="Movie 19">
        </div>
    </div>

    <div class="movie-card" data-duration="147">
        <div class="card-poster">
            <img src="Data/Pics/R (1).jpeg" alt="Movie 20">
        </div>
    </div>

    <div class="movie-card" data-duration="101">
        <div class="card-poster">
            <img src="Data/Pics/jw.webp" alt="Movie 21">
        </div>
    </div>

    <div class="movie-card" data-duration="180">
        <div class="card-poster">
            <a href="{% url 'oppenheimer' %}"><img src="Data/Pics/fe748e176533255.64c6e08a621b1.jpg" alt="Movie 22"  style="height: 300px; width: 100%;"></a>
        </div>
    </div>

</div>

</section>
</main>

<footer class="footer">
    <div class="footer-links">
        <a href="{% url 'help' %}" class="footer-link">Help</a>
        <a href="{% url 'privacy_policy' %}" class="footer-link">Privacy Policy</a>
        <a href="{% url 'terms_of_use' %}" class="footer-link">Terms of Use</a>
    </div>
    <p class="footer-text">© 2026 MoviesVerse.com</p>
</footer>
</body>
</html>