{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Watchlist</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

    <script>
        document.addEventListener("click", function (e) {
            const dropdown = document.querySelector(".profile-dropdown");
            dropdown.classList.toggle("active", dropdown.contains(e.target));
        });
    </script>

<body>
    <!-- NAVBAR -->
    <div class="navbar">
        <div class="logo"><a href="{% url 'index' %}" style="text-decoration: none; color: #f5c518;">MoviesVerse</a></div>

        <div class="search-box">
            <input type="text" placeholder="Search your watchlist...">
            <button>Search</button>
        </div>

        <div class="nav-links">
            <a href="{% url 'index' %}">Movies</a>
            <a href="{% url 'watched' %}">Watched</a>
            
            <div class="profile-dropdown">
                <img src="https://tse2.mm.bing.net/th/id/OIP.eOfqxGdd1QY-wIFMJvIR-QHaLH?rs=1&pid=ImgDetMain&o=7&rm=3" alt="Profile" class="profile-avatar">
                    
                <div class="dropdown-menu">
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'watched' %}">Watched</a>
                    <a href="{% url 'favourite' %}">Favourite Movies</a>
                    <a href="{% url 'settings' %}">Settings</a>
                    <hr>
                    <a href="{% url 'sign_in' %}" class="logout">Logout</a>
                    </div>
                </div>
        </div>
    </div>

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-content">
        <h2 class="hero-title">My Watchlist</h2>
        <p style="color:#ccc; margin-top:10px;">
            Movies you’ve saved to watch later
        </p>
    </div>
</section>

<!-- WATCHLIST CONTENT -->
<main class="content">

    <section class="section">
        
     <div class="movie-grid">

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/OuACUeHMKHFtlcCc45yBEKGXLv.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="https://m.media-amazon.com/images/I/71niXI3lxlL._AC_SY679_.jpg" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/fast x.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/the nun.webp" alt="Movie">
            </div>
        </div>

        <!-- 2 -->
        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/strange.cHJkLWVtcy1hc3NldHMvbW92aWVzL2FkNDZiMzU2LTFmYTQtNDgwMS1iOWM5LTgxNTg2NDMxNjBmNi53ZWJw.jpg" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/tg.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/gd.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/gl.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/thor.webp" alt="Movie">
            </div>
        </div>

        <!-- 3 -->
        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/gr.jpg" alt="Movie">
            </div>  
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/hm.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/sw.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/intr.webp" alt="Movie">
            </div>
        </div>

        <!-- 4 -->
        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/th.jpg" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/tc.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/jum.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/hs.webp" alt="Movie">
            </div>
        </div>

        <!-- 5 -->
        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/it.webp" alt="Movie">
            </div>  
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/fd.jpg" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/anc.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/jp.webp" alt="Movie">
            </div>
        </div>

        <div class="movie-card">
            <div class="card-poster">
                <img src="Data/Pics/ba.webp" alt="Movie">
            </div>
        </div>

    <div>

    </section>

</main>

<!-- FOOTER -->
<footer class="footer">
    <div class="footer-links">
        <a href="{% url 'help' %}" class="footer-link">Help</a>
        <a href="{% url 'privacy_policy' %}" class="footer-link">Privacy Policy</a>
        <a href="{% url 'terms_of_use' %}" class="footer-link">Terms of Use</a>
    </div>
    <p class="footer-text">© 2026 MoviesVerse.com</p>
</footer>
</body>
</html>
