{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watched Movies</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/favourite.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
<!-- NAVBAR -->
<div class="navbar">
    <div class="logo"><a href="{% url 'index' %}" style="text-decoration: none; color: #f5c518;">MoviesVerse</a></div>

    <form class="search-box" method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Search movies, TV shows..." required>
        <button type="submit"> Search </button>
    </form>

    <div class="nav-links">
        <a href="{% url 'index' %}">Movies</a>
        <a href="{% url 'watchlist' %}">Watchlist</a>
        
        <div class="profile-dropdown">

            {% if request.user.is_authenticated and request.user.profile.profile_pic %}
                <img src="{{ request.user.profile.profile_pic.url }}" class="profile-avatar" alt="Profile">
            {% else %}
                <img src="{% static 'images/default_pfp.jpeg' %}" class="profile-avatar" alt="Default Profile">
            {% endif %}

        <div class="dropdown-menu">
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'watched' %}">Watched</a>
            <a href="{% url 'settings' %}">Settings</a>
            <hr>
            <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
        </div>
    </div>
</div>

</div>

<!-- HERO -->
<section class="hero">
    <div class="hero-content">
        <h2 class="hero-title">Favourite Movies</h2>
    </div>
</section>

<!-- FAVOURITE MOVIES -->
<main class="content">
<section class="section">
<div class="movie-grid">

<!-- Movie Card Template -->
         {% if likes %}
            {% for movie in likes %}
                <div class="movie-card">
                    <div class="card-poster">
                        <a href="{% url 'movie_detail' movie.imdb_id %}" style="text-decoration:none;">
                            <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                        </a>

                        <span class="heart-static"></span>
                        <div class="star-rating rating-5">
                            <span class="star-base">★★★★★</span>
                            <span class="star-fill">★★★★★</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

</div>
</section>
</main>

<footer class="footer">
    <div class="footer-links">
        <a href="{% url 'help' %}" class="footer-link">Help</a>
        <a href="{% url 'privacy_policy' %}" class="footer-link">Privacy Policy</a>
        <a href="{% url 'terms_of_use' %}" class="footer-link">Terms of Use</a>
    </div>
    <p class="footer-text">© 2026 MoviesVerse.com</p>
</footer>
</body>
</html>